body{
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

.container {
  width: 1440px;
  max-width: 80%;
  margin: auto;
}

/* HEADER */

header {
  height: 80px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
}

header section.logo img{
  width: 150px;
  height: auto;
}

header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 26px;
}

header nav ul li a{
  text-decoration: none;
  color: #3e3e3e;
  font-size: 20px;
}

header nav ul li a:hover{
  color: #1fa8bd;
  /* color: #33C6DD; */
}

header nav ul li button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* HERO */

section.hero-section {
  position: relative;
}

section.hero-section img {
  width: 100%;
  height: auto;
}

section.hero-section .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.hero-section .hero-content .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

section.hero-section .hero-content h1,
section.hero-section .hero-content p
{
  color: white;
  max-width: 495px;
  margin-top: 0;
  margin-bottom: 20px;
}

section.hero-section .hero-content h1 {
  font-weight: 400;
  font-size: 50px;
  line-height: 56px;
}

section.hero-section .hero-content p {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}

section.hero-section button {
  width: 200px;
  height: 50px;
  background-color: #2b1d75;
  border: 1px solid #2b1d75;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

section.hero-section button:hover{
  background-color: #1fa8bd;
}


/* STATS SECTION */

section.stats-section .container {
 background-color: hwb(188 20% 13% / 0.80);
 border: 1px solid hwb(188 20% 13% / 0.80);
 border-radius: 100px;
 margin-top: 20px;
 margin-bottom: 26px;
 padding: 20px 0;
}

section.stats-section ul.stats-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section.stats-section li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

section.stats-section span.stat-number {
  font-size: 48px;
  font-weight: 700;
  color: #555;
  line-height: 50px;
}

section.stats-section span.stat-label {
  font-size: 20px;
  color: #555;
  letter-spacing: 0.04em;
}



/* FOOTER */

footer {
  background-color: #3E3E3E;
  color:hsla(0, 0%, 100%, .6);
  padding: 60px 0;
}

footer .container {
  width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li img{
  width: 150px;
  height: auto;
}

footer ul li a.list-title{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 14px;
  color: #ffffff;
}

footer ul.social-logos{
  display: flex;
  justify-content: space-between;
}

footer ul.social-logos img {
  width: 40px;
}

footer ul li.footer-contact{
  display: flex;
  align-items: center;
  gap: 10px;
}

footer ul li.footer-contact img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

footer ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

footer ul li a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, .6);
}

footer ul li a:hover {
  color: #1fa8bd;
}

/* COPYRIGHT */

section.copyright {
  text-align: center;
  color:hsla(0, 0%, 100%, .6);
  background-color: #2B2B2B;
  padding: 20px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}